{{ $paginator := .Paginate (where (where .Data.Pages "Type" "post") ".Params.hiddenfromhomepage" "!=" true) }}
<nav class="pagination">
    {{ with $paginator.Prev }}
      <a class="prev" href="{{ .URL }}">
        <i class="iconfont icon-left"></i>
        <span class="prev-text">Prev</span>
      </a>
    {{- end }}
    {{ with $paginator.Next }}
      <a class="next" href="{{ .URL }}">
        <span class="next-text">Next</span>
        <i class="iconfont icon-right"></i>
      </a>
    {{- end }}
  </nav>
